html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  min-height: 100vh;
  background-color: #060404;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #7B6B6B;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
 
#sidebar input {
  background-color: #EEE;
  line-height: 1rem;
  font: normal 1.5rem 'sans-serif';
  text-align: right;
  padding-right: 0.5rem;
}

#board-status-bar {
  display: flex;
  justify-content: space-between;
  background-color: #666;
  font: bold 2rem monospace;
  gap: 10px;
}

#board-status-bar.status-ready {
  background-color: green;
}

#board-status-bar div {
  padding: 0.5rem;
}

.player-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.player-input button {
  font: normal 1.15rem monospace;
  text-align: center;
  padding: 0.35rem;
  color: white;
  height: auto;
}

.player-input select {
  width: 100%;
  font-size: 1.5rem;
}

#new-game-button {
  display: inline-flex;
  justify-content: space-between;
  background-color: #5CA85C;
  color: white;
  font: normal 1.5rem monospace;
  button-style: inset;
  border: solid 2px white;
  padding: 0.5rem;
}

#reset-button {
  background-color: #9B6B6B;
  color: white;
  font: normal 1.5rem monospace;
  button-style: inset;
  border: solid 2px white;
  padding: 0.5rem;
  margin-top: 20px;
}

#board {
  border-collapse: collapse;
}

#board td { 
  width: 7rem;
  height: 7rem;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 7px solid red;
  font: normal 4rem sans-serif;
}

.player-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: red;
  height: 3rem;
  font: normal 1.5rem monospace;
  padding: 0 1rem;
}

#player1-container,
#player2-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #B35A5C;
  padding: 1rem;
  border-radius: 3px;
}
